doctype! html
html(lang='en')
    head
        meta(charset='utf-8')
        title Mountains
        link(rel='stylesheet' type="text/css" href='css.css')
        script(type='module' src='react_legacy.js')
        //- script(type='text/javascript' src='js.js')
    body
        #root
































        
        //- .app_header 
        //-     div(class='header_content')
        //-         span(class='menu1' onclick='displayMenu()') 想玩哪裡
        //-             ul(id='subMenu' class='hide')
        //-                 li
        //-                     a(href='whereToPlay.html' target='_blank') 北台灣
        //-                 li
        //-                     a(href='whereToPlay.html' target='_blank') 中台灣
        //-                 li 
        //-                     a(href='whereToPlay.html' target='_blank') 南台灣
        //-                 li 
        //-                     a(href='whereToPlay.html' target='_blank') 東台灣
        //-                 li
        //-                     a(href='whereToPlay.html' target='_blank') 離島

        //-         span(class='menu2' onclick='displayMenu2()') 景點類型

        //-             ul(id='subMenu2' class='hide')
        //-                 li 
        //-                     a(href='type.html' target='_blank') 國家森林遊樂區
        //-                 li
        //-                     a(href='type.html' target='_blank') 平地森林園區
        //-                 li 
        //-                     a(href='type.html' target='_blank') 自然教育中心
        //-                 li
        //-                     a(href='type.html' target='_blank') 自然步道
        //-                 li
        //-                     a(href='type.html' target='_blank') 林業文化園區
        //-                 li 
        //-                     a(href='type.html' target='_blank') 林業鐵路
        //-                 li
        //-                     a(href='type.html' target='_blank') 生態教育館   

        //- .app_body
        //-     div(class='wrapper')
        //-         div(class='container')
        //-             div(class='content')





  

